@charset "UTF-8";
* {
  box-sizing: border-box; }

[hidden] {
  display: none; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.reverse {
  transform: scale(-1, 1); }

.reverse-vertical {
  transform: scale(1, -1); }

.beautiful-scrollbar {
  scrollbar-width: thin;
  scrollbar-height: thin;
  scrollbar-color: #6f36bd #1a1a1a; }
  .beautiful-scrollbar::-webkit-scrollbar-track {
    background-color: transparent; }
  .beautiful-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px; }
  .beautiful-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: transparent; }

.box-center {
  position: relative;
  height: 4vw;
  max-height: 40px; }
  .box-center > * {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); }

cite::before {
  content: open-quote; }

cite::after {
  content: close-quote; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@font-face {
  font-family: 'Museo Sans';
  src: local("MuseoSans"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Museo Sans';
  src: local("MuseoSans"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Museo Sans';
  src: local("MuseoSans"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Museo Sans';
  src: local("MuseoSans"), url("../fonts/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

.btn {
  background: none;
  border: 2px solid;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  padding: 0.8em;
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
  border-radius: .5em;
  vertical-align: bottom;
  text-align: center;
  min-width: 260px; }
  .btn.btn-icon {
    padding: 0;
    border-radius: 50%;
    min-width: 0;
    border: none; }
    .btn.btn-icon .icon, .btn.btn-icon svg {
      color: inherit; }
  .btn.btn-transparent {
    background-color: transparent !important;
    font-weight: normal; }
  .btn.btn-info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    background-color: transparent !important;
    border: none; }
    .btn.btn-info > * {
      margin: 0 0.35em;
      display: inline-block; }
      .btn.btn-info > *:first-child {
        margin-left: 0; }
      .btn.btn-info > *:last-child {
        margin-right: 0; }
    .btn.btn-info .icon, .btn.btn-info svg {
      width: 1.8em;
      color: inherit; }
    .btn.btn-info .text {
      color: inherit;
      border-bottom: .15em dotted white; }
    .btn.btn-info.btn-accent {
      color: #6f36bd !important; }
      .btn.btn-info.btn-accent .text {
        color: #000000;
        border-bottom-color: #6f36bd !important; }
    .btn.btn-info.btn-primary {
      color: #ffd200 !important; }
      .btn.btn-info.btn-primary .text {
        border-bottom: none; }
  .btn.btn-primary {
    background-color: #ffd200;
    border-color: #ffd200;
    color: #1a1a1a; }
    .btn.btn-primary.btn-transparent {
      color: #ffd200; }
  .btn.btn-accent {
    background-color: #6f36bd;
    border-color: #6f36bd;
    color: #ffffff; }
    .btn.btn-accent.btn-transparent {
      color: #6f36bd; }

.hero {
  position: relative;
  background: url(../img/main-bgr.png) top;
  background-size: cover;
  padding-top: 12px;
  color: #ffffff; }
  .hero--city {
    background-image: url("../img/city-battle__header-bg.jpg");
    background-position: top;
    background-repeat: no-repeat; }
  .hero--season {
    background-image: url("../img/season__header-bg.jpg");
    background-position: top;
    background-repeat: no-repeat; }
  .hero--lol {
    background-image: url("../img/lol__header-bg.jpg");
    background-position: top;
    background-repeat: no-repeat; }
  @media (min-width: 940px) {
    .hero {
      padding-top: 45px; } }
  @media (min-width: 540px) and (max-width: 940px) {
    .hero {
      background-position-x: calc(50% - 25vw); } }
  .hero.open-popup .select-city-box {
    display: block; }
  .hero .select-city-box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 13;
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    padding-top: 82px;
    -webkit-animation: fadeIn 350ms ease-in-out forwards;
            animation: fadeIn 350ms ease-in-out forwards; }
    .hero .select-city-box .heading {
      max-width: 400px;
      margin: 0 auto; }
      .hero .select-city-box .heading > * {
        margin-bottom: 1em; }
      @media (min-width: 700px) {
        .hero .select-city-box .heading {
          max-width: 100%;
          display: grid;
          grid-gap: 32px;
          align-items: center;
          grid-template-areas: 'search country city';
          grid-template-columns: 1fr 1fr 17em; } }
      @media (min-width: 960px) {
        .hero .select-city-box .heading {
          grid-template-areas: 'search country city x';
          grid-template-columns: 1fr 1fr 1fr 32px; } }
      .hero .select-city-box .heading .search-city {
        grid-area: search; }
        .hero .select-city-box .heading .search-city label {
          display: block;
          border: 2px solid #ffd200;
          border-radius: 10px;
          position: relative; }
          .hero .select-city-box .heading .search-city label input {
            width: 100%;
            background: transparent;
            border: none;
            padding: 0.7em 1.2em;
            color: #ffffff;
            font-family: inherit;
            font-size: 1.35rem; }
          .hero .select-city-box .heading .search-city label .icon {
            width: 1.2em;
            position: absolute;
            right: 1.4em;
            top: 50%;
            transform: translateY(-50%);
            color: #ffd200; }
      .hero .select-city-box .heading .select-country {
        grid-area: country; }
        .hero .select-city-box .heading .select-country label {
          display: block;
          background: #ffd200;
          text-align: center;
          border-radius: 10px;
          position: relative; }
        .hero .select-city-box .heading .select-country select {
          display: block;
          width: 100%;
          background: transparent;
          border: none;
          font-family: inherit;
          font-size: 1.4em;
          padding: 0.7em 1em;
          font-weight: 500;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none; }
        .hero .select-city-box .heading .select-country .icon {
          position: absolute;
          width: 1.2em;
          top: 50%;
          right: 1.4em;
          transform: translateY(-50%);
          color: #000000; }
      .hero .select-city-box .heading .select-city {
        justify-content: center; }
        .hero .select-city-box .heading .select-city .select-city-box-btn-after-icon {
          display: none; }
        @media (min-width: 700px) {
          .hero .select-city-box .heading .select-city {
            justify-content: flex-end; }
            .hero .select-city-box .heading .select-city .select-city-box-btn-after-icon {
              display: block;
              position: absolute;
              width: 2em;
              height: 2em;
              top: 9rem;
              right: 50%;
              transform: translateX(50%);
              font-size: 0.4em;
              color: #b8a4ff; }
              .hero .select-city-box .heading .select-city .select-city-box-btn-after-icon:hover {
                color: #ffffff; }
            .hero .select-city-box .heading .select-city .btn {
              position: relative; } }
    .hero .select-city-box .cities-list {
      -moz-column-count: 2;
           column-count: 2;
      display: inline-block;
      font-size: 1.4em;
      margin: 3.4em 0;
      list-style: none;
      font-weight: 500;
      padding: 0 10px; }
      @media (min-width: 960px) {
        .hero .select-city-box .cities-list {
          -moz-column-width: 278px;
               column-width: 278px;
          height: 43vh;
          min-height: 300px;
          -moz-column-count: unset;
               column-count: unset; } }
      .hero .select-city-box .cities-list li {
        margin-bottom: 0.7em; }
      .hero .select-city-box .cities-list a {
        color: #ffffff;
        text-decoration: none; }
        .hero .select-city-box .cities-list a:hover {
          text-decoration: underline; }
  .hero .content-container {
    padding: 16px 32px; }
    @media (min-width: 940px) {
      .hero .content-container {
        padding: 28px 0 0 72px; } }
    .hero .content-container .btn {
      position: relative;
      z-index: 10;
      font-size: 0.72em; }
      .hero .content-container .btn:first-child {
        margin-right: 0.6em; }
  .hero h1 {
    color: inherit;
    font-size: 3.7em;
    padding: 0;
    margin: 0 0 .2em 0; }
    @media (min-width: 940px) {
      .hero h1 {
        font-size: 5em; } }
    .hero h1 + p {
      text-align: center; }
      @media (min-width: 940px) {
        .hero h1 + p {
          text-align: left; } }
  .hero p {
    font-size: 1.6em;
    margin: 0 0 2.5em 0; }
    @media (min-width: 940px) {
      .hero p {
        font-size: 1.9em; } }
  .hero .btn-info {
    color: #ffffff;
    border-bottom-color: #ffffff; }
  .hero .sub-info {
    margin: 2em 0 7.5em;
    font-size: 1.1em;
    max-width: 250px; }
    @media (min-width: 700px) {
      .hero .sub-info {
        margin-bottom: 2.5em;
        max-width: 370px; } }
    .hero .sub-info:after {
      content: '';
      display: block;
      position: absolute;
      background: url("../img/dmitriy-main.png") bottom right no-repeat;
      background-size: contain;
      bottom: 0;
      right: -22%;
      width: 130%;
      height: 100%; }
      @media (min-width: 700px) {
        .hero .sub-info:after {
          width: 100%; } }
    .hero .sub-info h6 {
      font-size: 1.2em;
      margin: 0 0 0.5em 0;
      font-weight: 500; }
    .hero .sub-info p {
      font-size: 1em;
      color: #b8a4ff; }

.lets-play {
  background: #ffffff;
  padding: 180px 0 117px; }
  .lets-play .lets-play-heading {
    margin-bottom: 45px; }
  .lets-play .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .lets-play img {
    display: block;
    max-width: 100%; }
  .lets-play .content-container {
    width: 100%; }
    .lets-play .content-container p {
      font-size: 1.4em;
      margin: 0 0 1em 0; }
    .lets-play .content-container .slider {
      display: grid;
      grid-template-areas: 'controls' 'overflow' 'additional' 'info'; }
      @media (min-width: 940px) {
        .lets-play .content-container .slider {
          grid-template-columns: 5fr 7fr;
          grid-template-rows: auto 1fr auto;
          grid-template-areas: 'additional controls' 'additional overflow' 'additional info'; } }
      .lets-play .content-container .slider .slider-controls, .lets-play .content-container .slider .slider-info {
        justify-content: center;
        text-align: center; }
        @media (min-width: 940px) {
          .lets-play .content-container .slider .slider-controls, .lets-play .content-container .slider .slider-info {
            justify-content: flex-start;
            text-align: left; } }
      .lets-play .content-container .slider .slider-additional {
        padding-bottom: 1.5em; }
        @media (min-width: 940px) {
          .lets-play .content-container .slider .slider-additional {
            padding-bottom: 0; } }

.fun-day {
  background: url("../img/laugh-day-bgr.jpg") top no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .fun-day .subtitle {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.4em;
    margin: 0;
    font-size: 1.2em;
    padding: 3.3em 0 0;
    font-weight: 900; }
  .fun-day .fun-day-heading {
    display: block;
    margin: 0 auto -5%;
    max-width: 70%; }
  .fun-day .rounded-text {
    display: block;
    max-width: 100%;
    min-width: 560px;
    width: 1000px;
    color: #ffffff;
    font-weight: 600;
    margin: 0 auto; }

.corp {
  padding-top: 145px; }
  .corp .content-container {
    position: relative;
    z-index: 1; }
    @media (min-width: 700px) {
      .corp .content-container {
        padding-top: 8em; } }
    .corp .content-container h2 {
      font-size: 4em;
      color: #6f36bd;
      margin: 0 0 0.27em 0;
      text-shadow: 0 0 5px #ffffff;
      text-align: center; }
      @media (min-width: 700px) {
        .corp .content-container h2 {
          font-size: 5em;
          text-align: left; } }
    .corp .content-container > p {
      margin: 0 0 2em 0;
      font-size: 1.6em;
      text-align: center; }
      @media (min-width: 700px) {
        .corp .content-container > p {
          text-align: left;
          font-size: 1.9em;
          margin-bottom: 3em;
          max-width: 550px; } }
    .corp .content-container .buttons {
      font-size: 1.3rem;
      max-width: 270px; }
      @media (min-width: 800px) {
        .corp .content-container .buttons {
          max-width: 100%; } }
      .corp .content-container .buttons .btn {
        margin-bottom: 10px; }
  .corp .sub-info {
    color: #6f36bd;
    margin: 4em 0 0 0;
    padding-bottom: 17em; }
    @media (min-width: 700px) {
      .corp .sub-info {
        margin-top: -2em;
        padding-bottom: 4em; } }
    .corp .sub-info::before {
      content: '';
      display: block;
      position: absolute;
      background: url(../img/krivenya.jpg) top right no-repeat;
      background-size: 100%;
      bottom: 0;
      right: -41%;
      width: 122%;
      height: 30em;
      z-index: -1; }
      @media (min-width: 450px) {
        .corp .sub-info::before {
          height: 35em; } }
      @media (min-width: 700px) {
        .corp .sub-info::before {
          background-size: contain;
          right: -25%;
          width: 100%;
          height: 30em; } }
      @media (min-width: 950px) {
        .corp .sub-info::before {
          right: -31%;
          width: 100%;
          height: 44em; } }
      @media (min-width: 1100px) {
        .corp .sub-info::before {
          right: -19%; } }
      @media (min-width: 1300px) {
        .corp .sub-info::before {
          right: -4%; } }
    .corp .sub-info h6 {
      font-size: 1.3em;
      margin: 0 0 0.5em 0; }
    .corp .sub-info p {
      font-size: 1.1em;
      max-width: 50%; }

.info-box {
  border-top: 2px solid #6f36bd;
  color: #6f36bd; }
  .info-box .info-box-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 0; }
    .info-box .info-box-content .icon {
      margin-right: 1em;
      width: 1.6em;
      flex-shrink: 0; }
    .info-box .info-box-content p {
      font-size: 1.15em;
      margin: 0; }
    .info-box .info-box-content a {
      color: inherit; }
      .info-box .info-box-content a:hover {
        text-decoration: none; }

.city-battle {
  background: url("../img/city-battle-logo-bgr.jpg") right no-repeat;
  background-size: cover;
  color: #ffffff; }
  @media (min-width: 700px) {
    .city-battle {
      background-position: top; } }
  .city-battle .content-container {
    display: grid;
    grid-template-areas: 'heading' 'logo' 'description' 'buttons'; }
    @media (min-width: 700px) {
      .city-battle .content-container {
        grid-template-areas: 'logo heading' 'logo description' 'logo buttons';
        grid-template-columns: 1fr 1fr; } }
    .city-battle .content-container .heading {
      grid-area: heading;
      padding: 2em 0 0 0;
      text-align: center; }
      @media (min-width: 700px) {
        .city-battle .content-container .heading {
          padding: 5.5em 0 2.2em 0;
          text-align: left; } }
      .city-battle .content-container .heading p {
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 0.6em;
        font-weight: bold;
        color: #ddd3a2; }
      .city-battle .content-container .heading h2 {
        margin: 0.1em 0 0 0;
        font-size: 5em; }
    .city-battle .content-container .logo {
      grid-area: logo;
      display: flex;
      align-items: center;
      justify-content: center; }
      .city-battle .content-container .logo img {
        max-width: 100%;
        margin: 0 0 2em 0; }
        @media (min-width: 700px) {
          .city-battle .content-container .logo img {
            margin: 1em 0 0 0; } }
    .city-battle .content-container .description {
      grid-area: description;
      font-size: 1.4em;
      font-weight: bold; }
      .city-battle .content-container .description p {
        margin: 0 0 1.1em 0; }
    .city-battle .content-container .buttons {
      grid-area: buttons;
      padding: 2em 0 5em 0;
      font-size: 1.3em;
      text-align: center; }
      @media (min-width: 700px) {
        .city-battle .content-container .buttons {
          padding: 4em 0 3em 0; } }
      .city-battle .content-container .buttons .btn {
        margin-bottom: 1em; }

.franchise {
  padding-top: 7em; }
  .franchise .content-container {
    background: url("../img/dmitry-white-filled.jpg") bottom left no-repeat;
    background-size: 64%;
    display: flex;
    align-items: flex-end;
    flex-direction: column; }
    .franchise .content-container h2 {
      margin: 0;
      color: #6f36bd;
      font-size: 3em;
      padding: 0 0 0.3em 0; }
      @media (min-width: 800px) {
        .franchise .content-container h2 {
          font-size: 4.8em; } }
    .franchise .content-container p {
      margin: 0;
      font-size: 1.3em; }
      @media (min-width: 800px) {
        .franchise .content-container p {
          font-size: 1.8em; } }
    .franchise .content-container .buttons {
      font-size: 1.3em;
      padding-top: 4.1em;
      text-align: center; }
    .franchise .content-container .sub-info {
      margin-top: 3em;
      padding-bottom: 4em;
      color: #6f36bd; }
      .franchise .content-container .sub-info h6 {
        margin: 0 0 0.6em 0;
        font-size: 1.3em; }
      .franchise .content-container .sub-info p {
        font-size: 1em;
        max-width: 19em; }
  @media (max-width: 1000px) {
    .franchise .content-container {
      align-items: center; }
      .franchise .content-container .sub-info {
        margin-top: 4em;
        align-self: flex-end;
        padding-bottom: 15em; } }

.school {
  background: url("../img/school-quiz-bgr.jpg");
  background-size: cover;
  text-align: center;
  color: #ffffff;
  padding-bottom: 3.7em; }
  .school .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; }
    .school .content-container:before, .school .content-container:after {
      content: '';
      background-size: contain;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      display: none; }
      @media (min-width: 800px) {
        .school .content-container:before, .school .content-container:after {
          display: block; } }
    .school .content-container:before {
      background-image: url("../img/decor-pencil.png");
      top: -125px;
      right: -13px;
      width: 300px;
      height: 266px; }
    .school .content-container:after {
      background-image: url("../img/decor-arrow-cursor.png");
      bottom: -179px;
      right: 64px;
      width: 172px;
      height: 209px; }
    .school .content-container .heading {
      display: block;
      max-width: 100%; }
    .school .content-container p {
      font-size: 1.3em;
      margin: 2em 0 2.4em;
      max-width: 850px; }
    .school .content-container .btn {
      font-size: 1.4em; }

.reviews {
  padding: 5em 0; }
  .reviews .btn {
    min-width: auto;
    font-size: 1.1em;
    padding: 0; }
  .reviews h3 {
    font-size: 1.8em;
    margin: 0 0 0.3em 0;
    font-weight: normal; }
  .reviews p {
    font-size: 1.2em;
    max-width: 17em;
    margin: 0 0 0.5em 0; }
  .reviews cite {
    font-size: 1.4em;
    max-width: 14em;
    display: inline-block;
    text-align: left; }
  @media (min-width: 900px) {
    .reviews .slide-content {
      text-align: right; } }

.city-battle__photo {
  margin-top: 34px;
  display: flex;
  align-items: center;
  justify-content: center; }

.city-battle__img {
  display: block;
  max-width: 100%;
  height: auto; }
  .city-battle__img--secondary-pages {
    margin-top: -63px;
    margin-left: -36px; }

.cards {
  margin: 0 -16px 0;
  position: relative;
  top: 70px;
  z-index: 12; }
  .cards--season {
    margin: -57px -16px 0; }
  .cards--lol {
    margin: -90px -16px 0; }

.cards .overflow-container {
  overflow-x: auto;
  padding: 0 0 0 20px; }
  @media (min-width: 1100px) {
    .cards .overflow-container {
      overflow: initial;
      padding: 0; } }

.cards__list {
  margin: 0;
  padding: 0 0 30px 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  min-width: 1120px; }
  .cards__list-item {
    background-color: #ffffff;
    padding: 37px;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 4px 18px 0 rgba(111, 54, 189, 0.3); }
    .cards__list-item a {
      display: block;
      text-decoration: none; }
  .cards__list-title {
    color: #6f36bd;
    font-size: 18px;
    margin: 0 0 25px 0; }
  .cards__list p {
    margin: 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700; }
  .cards__list-text--third {
    max-width: 150px; }
  .cards__list-text--third-wider {
    max-width: 275px; }
  .cards__list-text sup {
    font-size: 18px;
    color: #6f36bd; }

/* Media */
@media (max-width: 540px) {
  .cards--lol {
    margin: -70px -16px 0; }
  .cards__list-item {
    padding: 18px; }
  .cards__list-title {
    font-size: 15px;
    margin: 0 0 15px 0; }
  .cards__list p {
    font-size: 20px; }
  .cards__list-text--first {
    max-width: 200px; }
  .cards__list-text--second {
    max-width: 175px; }
  .cards__list-text span {
    font-size: 15px; } }

.section {
  margin-top: 150px;
  margin-bottom: 27px; }
  .section__inner {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 650px;
    align-items: start; }
  .section__img-wrap {
    margin-top: 23px;
    margin-left: -13px; }
    .section__img-wrap--season {
      height: 520px;
      margin-top: 34px;
      margin-right: 0;
      margin-left: -310px; }
    .section__img-wrap--lol {
      margin: 0; }
  .section__img {
    display: block;
    max-width: 100%;
    height: auto; }
  .section__content {
    text-align: right; }
  .section__title {
    margin: 0 0 25px 0;
    font-size: 72px;
    font-weight: 700;
    color: #000000; }
  .section__subtitle {
    margin: 0 0 53px 0;
    padding-right: 10px;
    font-size: 28px;
    font-weight: 500;
    color: #000000; }
  .section__text {
    margin: 0 0 80px 0;
    padding-right: 10px;
    font-size: 22px;
    color: #000000; }
  .section__links-btn__ingame {
    margin-right: 22px;
    display: inline-block;
    vertical-align: middle;
    padding: 18px 76px;
    font-family: 'Museo Sans';
    font-weight: 500;
    font-size: 22px;
    line-height: 1.1;
    text-align: center;
    color: #000000;
    background: #ddd3a2;
    border: 0;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer; }
    .section__links-btn__ingame--season {
      background: #ff5400;
      color: #ffffff; }
    .section__links-btn__ingame--lol {
      background: #ffd200;
      color: #000000; }
  .section__links-btn__details {
    padding: 10px;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border: 0;
    background: #ffffff;
    cursor: pointer; }
  .section__links-text {
    padding-bottom: 5px;
    margin-left: 19px;
    font-family: 'Museo Sans';
    font-weight: 500;
    font-size: 22px;
    line-height: 1.1;
    color: #000000;
    border-bottom: 3px dotted #ddd3a2; }
    .section__links-text--season {
      border-color: #ff5400; }
    .section__links-text--lol {
      border-color: #ffd200; }
  .section__links-icon {
    color: #ddd3a2; }
    .section__links-icon--season {
      color: #ff5400; }
    .section__links-icon--lol {
      color: #ffd200; }
  .section__columns {
    margin: 0 0 50px 0;
    padding: 0 0 0 62px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 44px;
         column-gap: 44px;
    align-items: start;
    list-style: none; }
  .section__columns-text {
    margin: 0;
    font-size: 22px; }
    .section__columns-text--first {
      margin-bottom: 27px; }
  .section__info {
    padding-left: 15px;
    display: flex;
    align-items: center; }
    .section__info-icon {
      margin-right: 20px;
      color: #b8a4ff; }
    .section__info p {
      margin: 0;
      max-width: 565px;
      font-size: 18px;
      color: #b8a4ff; }

/* Media */
@media (max-width: 1100px) {
  .section {
    margin: 50px 0 30px 0; }
    .section__inner {
      margin: 0 0 40px 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .section__img-wrap {
      margin: 0; }
      .section__img-wrap--season {
        margin: 34px 0 0 -310px;
        height: 300px; }
    .section__content {
      text-align: center; }
    .section__title {
      margin: 0 0 15px 0;
      font-size: 60px; }
    .section__subtitle {
      margin: 0 0 30px 0;
      padding: 0;
      font-size: 23px; }
    .section__text {
      margin: 0 0 40px 0;
      padding: 0;
      font-size: 18px; }
    .section__links-btn__ingame {
      margin: 0 15px 0 0;
      padding: 15px 45px;
      font-size: 18px; }
    .section__links-btn__details {
      padding: 8px; }
    .section__links-text {
      padding-bottom: 3px;
      margin-left: 10px;
      font-size: 18px;
      border-bottom-width: 2px; }
    .section__links-icon {
      width: 30px;
      height: 30px; }
    .section__columns {
      margin: 0 0 40px 0;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      -moz-column-gap: 44px;
           column-gap: 44px;
      align-items: start;
      list-style: none; }
    .section__info {
      padding: 0; } }

@media (max-width: 768px) {
  .section__title {
    margin: 0 0 15px 0;
    font-size: 45px;
    line-height: 1; }
  .section__subtitle {
    margin: 0 0 25px 0;
    font-size: 20px; }
  .section__text {
    margin: 0 0 30px 0;
    font-size: 17px; }
  .section__links-btn__ingame {
    padding: 15px 40px;
    font-size: 17px; }
  .section__links-text {
    margin-left: 10px;
    font-size: 17px; }
  .section__columns {
    margin: 0 0 30px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; }
  .section__columns-text {
    margin: 0 0 20px 0;
    font-size: 18px; }
    .section__columns-text--first {
      margin: 0; }
  .section__info-icon {
    width: 25px;
    height: 25px;
    margin: 10px 10px 0;
    flex-shrink: 0; }
  .section__info p {
    font-size: 17px; } }

@media (max-width: 375px) {
  .section__links-btn__ingame {
    margin: 0 auto 15px;
    display: block; }
  .section__links-btn__details {
    margin: 0 auto; } }

.slider-mentor {
  margin-bottom: 71px; }
  .slider-mentor .container--special {
    position: relative;
    padding: 85px 15px 120px; }
  .slider-mentor--secondary {
    margin-bottom: 11px; }
  .slider-mentor__inner {
    margin-left: 1px; }
  .slider-mentor__item {
    position: relative;
    overflow: hidden; }
  .slider-mentor__bulb {
    background-image: url("../img/bulb.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 424px;
    height: 542px;
    position: absolute;
    bottom: -11px;
    left: -80px;
    z-index: -1; }
  .slider-mentor__cup {
    background-image: url("../img/cup.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 674px;
    height: 653px;
    position: absolute;
    bottom: 120px;
    right: 15px; }
  .slider-mentor__dice {
    background-image: url("../img/dice.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 149px;
    height: 171px;
    position: absolute;
    top: 38px;
    right: 38%; }
  .slider-mentor__man {
    background-image: url("../img/slider-mentor-dimitry.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 1200px;
    height: 660px;
    position: absolute;
    bottom: 120px;
    right: 15px; }
  .slider-mentor__chess {
    background-image: url("../img/chess-horse.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 383px;
    height: 470px;
    position: absolute;
    top: 274px;
    right: -192px; }
  .slider-mentor__content {
    background: linear-gradient(#824cc7, #2b0d83);
    border-radius: 40px;
    padding: 72px 0 77px 102px; }
    .slider-mentor__content--secondary {
      padding: 73px 0 102px 100px; }
  .slider-mentor__content-inner {
    position: relative;
    z-index: 3; }
  .slider-mentor__suptitle {
    margin: 0 0 9px 0;
    font-size: 28px;
    letter-spacing: -0.3px;
    color: #ffffff;
    font-weight: 500; }
  .slider-mentor__title {
    margin: 0 0 18px 0;
    font-size: 72px;
    letter-spacing: -1.5px;
    font-weight: 700;
    color: #ffffff; }
  .slider-mentor__subtitle {
    margin: 0 0 80px 0;
    max-width: 375px;
    font-size: 22px;
    color: #d2a9ff;
    font-weight: 500; }
    .slider-mentor__subtitle span {
      display: inline-block;
      margin-top: 26px; }
    .slider-mentor__subtitle--special {
      max-width: 415px; }
  .slider-mentor__text {
    margin: 0 0 34px 0;
    max-width: 345px;
    font-size: 22px;
    line-height: 1.1;
    font-style: italic;
    color: #ffffff; }
  .slider-mentor__btn {
    padding: 0;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    background: transparent; }
    .slider-mentor__btn-icon {
      margin-left: 4px;
      width: 32px;
      height: 32px;
      color: #ffd200; }
    .slider-mentor__btn-text {
      margin-left: 13px;
      color: #ffd200;
      font-size: 22px;
      font-weight: 500;
      font-family: 'Museo Sans'; }
  .slider-mentor__btn-ingame {
    margin-right: 22px;
    display: inline-block;
    vertical-align: middle;
    padding: 18px 76px;
    font-family: 'Museo Sans';
    font-weight: 500;
    font-size: 22px;
    line-height: 1.1;
    text-align: center;
    color: #000000;
    background: #ffd200;
    border: 0;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer; }
  .slider-mentor__btn-details {
    padding: 10px;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border: 0;
    background: transparent;
    cursor: pointer; }
  .slider-mentor__icon {
    color: #ddd3a2; }
  .slider-mentor__text-additional {
    padding-bottom: 5px;
    margin-left: 19px;
    font-family: 'Museo Sans';
    font-weight: 500;
    font-size: 22px;
    line-height: 1.1;
    color: #ffffff;
    border-bottom: 3px dotted #ffffff; }
  .slider-mentor .tns-nav {
    margin-top: -74px;
    position: relative;
    z-index: 2; }
    .slider-mentor .tns-nav button {
      outline: none;
      margin: 4px;
      background-color: #d0c2e4; }
      .slider-mentor .tns-nav button:hover, .slider-mentor .tns-nav button.tns-nav-active {
        background: #6534a7; }

/* Media */
@media (max-width: 1230px) {
  .slider-mentor__man {
    background-size: 80%;
    bottom: -12px;
    right: -225px; }
  .slider-mentor__cup {
    background-size: 80%;
    bottom: -11px;
    right: -120px; } }

@media (max-width: 1100px) {
  .slider-mentor__cup {
    background-size: 65%;
    bottom: -109px;
    right: -221px; }
  .slider-mentor__btn-ingame {
    padding: 15px 45px;
    font-size: 18px; }
  .slider-mentor__text-additional {
    font-size: 18px;
    border-bottom: 2px dotted #fff; }
  .slider-mentor__icon {
    width: 30px;
    height: 30px; } }

@media (max-width: 1058px) {
  .slider-mentor__suptitle {
    font-size: 25px; }
  .slider-mentor__title {
    font-size: 60px; }
  .slider-mentor__subtitle {
    font-size: 18px; }
  .slider-mentor__text {
    font-size: 18px; }
  .slider-mentor__man {
    background-size: 65%;
    bottom: -111px;
    right: -405px; }
  .slider-mentor__bulb {
    background-size: 60%;
    bottom: -181px;
    left: -32px; }
  .slider-mentor__dice {
    background-size: 65%;
    top: 50px;
    right: 33%; }
  .slider-mentor__chess {
    background-size: 50%;
    top: 422px;
    right: -273px; } }

@media (max-width: 988px) {
  .slider-mentor__cup {
    background-size: 50%;
    bottom: -206px;
    right: -322px; } }

@media (max-width: 922px) {
  .slider-mentor__man {
    background-size: 50%;
    bottom: -210px;
    right: -585px; }
  .slider-mentor__content--secondary {
    padding: 73px 0 102px 65px; } }

@media (max-width: 857px) {
  .slider-mentor__cup {
    background-size: 40%;
    bottom: -272px;
    right: -389px; } }

@media (max-width: 768px) {
  .slider-mentor--secondary {
    margin: 0; }
  .slider-mentor__bulb {
    display: none; }
  .slider-mentor__man {
    background-size: 35%;
    bottom: -309px;
    right: -766px; }
  .slider-mentor__cup {
    background-size: 35%;
    bottom: -304px;
    right: -423px; }
  .slider-mentor__dice {
    display: none; }
  .slider-mentor__chess {
    display: none; }
  .slider-mentor__btn-ingame {
    padding: 15px 40px;
    font-size: 17px; }
  .slider-mentor__text-additional {
    font-size: 17px; } }

@media (max-width: 700px) {
  .slider-mentor__cup {
    background-size: 29%;
    bottom: -344px;
    right: -464px; } }

@media (max-width: 658px) {
  .slider-mentor .container--special {
    padding: 50px 15px 95px; }
  .slider-mentor__content {
    padding: 68px 5px 66px;
    text-align: center; }
  .slider-mentor__suptitle {
    font-size: 22px; }
  .slider-mentor__title {
    font-size: 45px; }
  .slider-mentor__subtitle {
    font-size: 17px;
    margin: 0 auto 60px; }
  .slider-mentor__btn-text {
    font-size: 18px; }
  .slider-mentor__text {
    font-size: 17px;
    margin: 0 auto 34px; }
  .slider-mentor__man {
    display: none; }
  .slider-mentor__cup {
    display: none; } }

@media (max-width: 540px) {
  .slider-mentor__btn-ingame {
    display: block;
    margin: 0 auto 10px; } }

.rating {
  margin-bottom: 81px; }
  .rating__inner {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .rating__title {
    margin: 0 0 6px 0;
    font-size: 72px;
    font-weight: 700;
    color: #000000; }
    .rating__title span {
      white-space: nowrap; }
  .rating__icon-drop {
    margin-left: 10px;
    background: transparent;
    color: #6f36bd;
    border: 0;
    cursor: pointer; }
  .rating__title-wrap {
    display: flex;
    align-items: center; }
  .rating__subtitle {
    margin: 0 0 60px 0;
    max-width: 715px;
    font-size: 22px;
    color: #000000; }
    .rating__subtitle--secondary {
      margin: 0 0 40px; }
  .rating__direction {
    padding: 0;
    margin: 0 0 26px 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 160px);
    -moz-column-gap: 8px;
         column-gap: 8px; }
    .rating__direction-item {
      display: grid; }
    .rating__direction-btn {
      cursor: pointer;
      padding: 14px 0;
      border: 2px solid #785fc3;
      border-radius: 10px;
      background: #ffffff;
      font-family: 'Museo Sans', sans-serif;
      font-size: 22px;
      color: #785fc3;
      white-space: nowrap; }
      .rating__direction-btn--active {
        background: #785fc3;
        color: #ffffff; }
  .rating__text {
    margin: 0 0 40px 0;
    max-width: 810px;
    color: #785fc3;
    font-size: 18px; }
  .rating__table-overflow {
    width: 100%;
    padding: 0 85px 0 33px; }
  .rating__table {
    margin-bottom: 69px;
    width: 100%;
    font-family: 'Museo Sans', sans-serif;
    border-collapse: separate;
    border-spacing: 10px;
    color: #785fc3;
    position: relative; }
    .rating__table th {
      white-space: nowrap;
      font-size: 18px;
      color: #646464;
      font-weight: 500; }
    .rating__table td {
      background-color: transparent;
      border: 1px solid #d1d0e7;
      border-radius: 10px;
      font-size: 22px;
      height: 60px; }
    tr .rating__table-number {
      border: 0;
      height: 30px; }
    tr .rating__table-team {
      text-align: left;
      width: 762px;
      padding: 0 20px; }
      tr .rating__table-team--first {
        background-color: #785fc3;
        color: #ffffff; }
      tr .rating__table-team--top {
        background-color: #efeaff; }
    tr .rating__table-games {
      width: 60px; }
    tr .rating__table-points {
      background: #efeaff;
      width: 160px; }
  .rating__additional {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .rating__additional-btn {
      margin: 0 0 27px 0;
      display: block;
      vertical-align: middle;
      padding: 18px 61px;
      font-family: 'Museo Sans', sans-serif;
      font-size: 22px;
      line-height: 1.1;
      color: #ffffff;
      font-weight: 500;
      text-align: center;
      background: #785fc3;
      border: 0;
      border-radius: 10px;
      text-decoration: none;
      cursor: pointer; }
    .rating__additional-text {
      margin: 0;
      font-size: 18px;
      max-width: 315px;
      color: #785fc3; }
  .rating__error {
    margin-top: 46px;
    margin-left: 11px;
    margin-bottom: 260px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .rating__error-img {
      position: relative;
      left: 27px;
      top: -2px; }
    .rating__error-text {
      margin: 0 0 45px 0;
      max-width: 615px;
      font-size: 22px;
      color: #000000; }
    .rating__error-btn {
      margin: 0;
      display: block;
      vertical-align: middle;
      padding: 18px 63px;
      font-family: 'Museo Sans', sans-serif;
      font-size: 22px;
      line-height: 1.1;
      color: #ffffff;
      font-weight: 500;
      text-align: center;
      background: #785fc3;
      border: 0;
      border-radius: 10px;
      text-decoration: none;
      cursor: pointer; }

/* Media */
@media (max-width: 1100px) {
  .rating__additional-btn {
    padding: 15px 40px;
    font-size: 18px; }
  .rating__error {
    margin-bottom: 200px; }
  .rating__error-btn {
    padding: 15px 40px;
    font-size: 18px; }
  .rating__error-text {
    font-size: 18px; } }

@media (max-width: 1024px) {
  .rating__table-overflow {
    padding: 0; }
  .rating__title {
    font-size: 60px; }
  .rating__subtitle {
    margin: 0 0 40px 0;
    font-size: 19px; }
  .rating__direction {
    grid-template-columns: repeat(3, 160px);
    -moz-column-gap: 25px;
         column-gap: 25px;
    row-gap: 15px; }
  .rating__additional {
    margin-left: 0; }
  .rating__error {
    margin-bottom: 150px; } }

@media (max-width: 768px) {
  .rating {
    margin-bottom: 50px; }
    .rating__title {
      margin: 0 0 15px 0;
      font-size: 45px; }
    .rating__subtitle {
      margin: 0 0 40px 0;
      font-size: 18px; }
    .rating__direction {
      grid-template-columns: repeat(2, 160px); }
      .rating__direction-btn {
        padding: 10px 0;
        font-size: 18px; }
    .rating__text {
      font-size: 17px; }
    .rating__table {
      padding-bottom: 40px;
      margin: 0; }
      .rating__table td {
        font-size: 18px; }
    .rating__additional-btn {
      font-size: 17px; }
    .rating__additional-text {
      font-size: 17px; }
    .rating__error {
      margin-bottom: 100px; }
    .rating__error-btn {
      font-size: 17px; }
    .rating__error-text {
      font-size: 17px; } }

@media (max-width: 545px) {
  .rating__title {
    font-size: 40px; }
  .rating__subtitle {
    font-size: 17px; }
  .rating__title-wrap {
    flex-direction: column; }
  .rating__icon-drop {
    margin: 0 0 15px 0; }
  .rating__table td {
    font-size: 17px; } }

@media (max-width: 450px) {
  .rating__table-overflow {
    margin: 0 -15px 20px;
    overflow-x: auto;
    max-width: calc(100% + 30px); }
  .rating__table {
    min-width: 500px; } }

@media (max-width: 405px) {
  .rating__title span {
    font-size: 30px; } }

@media (max-width: 375px) {
  .rating__direction {
    grid-template-columns: repeat(2, 125px); } }

html, body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #1a1a1a;
  font-family: 'Museo Sans', sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  min-height: 100vh; }
  @media (min-width: 540px) {
    html, body {
      font-size: 16px; } }

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative; }

.container--special {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

header {
  position: relative;
  z-index: 10;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 32px 1fr 32px;
  grid-template-areas: 'nav logo lk' 'city city city'; }
  @media (min-width: 540px) {
    header {
      grid-template-columns: 1fr 80px 4fr;
      grid-template-areas: 'nav logo city'; }
      header .lk {
        display: none; } }
  @media (min-width: 940px) {
    header {
      grid-template-columns: 1fr 32px 100px 1fr 32px;
      grid-template-areas: 'nav x logo city lk'; }
      header .lk {
        display: block; } }
  header nav {
    grid-area: nav;
    align-self: center; }
    header nav ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center; }
      header nav ul li {
        margin-right: 1.4em;
        font-size: 1.4em; }
        header nav ul li:nth-child(2), header nav ul li:nth-child(3) {
          display: none; }
          @media (min-width: 1200px) {
            header nav ul li:nth-child(2), header nav ul li:nth-child(3) {
              display: block; } }
        header nav ul li a, header nav ul li button {
          color: #ffffff;
          text-decoration: none;
          display: inline-block; }
          header nav ul li a svg, header nav ul li button svg {
            width: 2em; }
        header nav ul li a {
          padding-bottom: .2em; }
  header .logo {
    color: #ffd200;
    grid-area: logo; }
    header .logo--city {
      color: #ddd3a2; }
    header .logo--season {
      color: #ff5400; }
    header .logo svg {
      width: 100%; }
  header .lk {
    color: #ffffff;
    grid-area: lk; }
    header .lk svg {
      width: 2.7em; }

.select-city {
  grid-area: city;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  cursor: pointer; }
  .select-city .city {
    font-size: 1.4em;
    color: #ffffff;
    padding-top: .6em; }
    .select-city .city .phone {
      display: block;
      text-align: right;
      color: #b8a4ff;
      font-size: .75em;
      text-decoration: none; }
      .select-city .city .phone--city {
        color: #ddd3a2; }
      .select-city .city .phone--season {
        color: #ff5400; }
      .select-city .city .phone--lol {
        color: #ffd200; }
  .select-city .btn {
    color: #ffd200; }
    .select-city .btn--city {
      color: #ddd3a2; }
    .select-city .btn--season {
      color: #ff5400; }
  .select-city button {
    margin-left: 1em; }
    .select-city button svg {
      width: 2.7em; }

.page {
  min-height: 100vh;
  width: 100%;
  overflow: hidden; }

.box {
  width: 100%; }

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid; }
  .slider .slider-controls {
    grid-area: controls;
    display: flex;
    color: #6f36bd;
    margin: 0 0 2.2em 0; }
    .slider .slider-controls h3 {
      border: 2px solid #6f36bd;
      border-radius: 0.6em;
      margin: 0 0.8em;
      padding: 0.6em 2.9em; }
  .slider .slider-additional {
    grid-area: additional;
    padding: 0 0 1.5em 0; }
  .slider .slider-info {
    grid-area: info;
    padding: 0;
    font-size: 1.38em; }
  .slider .slider-overflow {
    grid-area: overflow;
    overflow: hidden;
    display: flex;
    /*
    тут задавать количество слайдов умноженное на 100% через JS
    width: 200%;
    */ }
    .slider .slider-overflow .slide {
      overflow: hidden;
      width: 100%; }

.cards-section {
  margin: -5em -16px 0;
  position: relative;
  top: 6em;
  z-index: 12; }
  .cards-section .overflow-container {
    overflow-x: auto;
    padding: 2em; }
    @media (min-width: 1100px) {
      .cards-section .overflow-container {
        padding: 1em 0;
        overflow: initial; } }
  .cards-section .show-all {
    font-size: 1.4rem; }
    .cards-section .show-all .btn .text {
      color: #6f36bd; }

.link-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 1000px;
  grid-gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0; }
  .link-cards li {
    box-shadow: 0 4px 18px 0 rgba(111, 54, 189, 0.3);
    overflow: hidden;
    border-radius: 1.5em; }
    .link-cards li.card-primary a {
      background-color: #ffd200; }
      .link-cards li.card-primary a .heading {
        color: #826b00; }
    .link-cards li:not(.card-primary) {
      box-shadow: 0 0 20px 0 fade(#6f36bd, 50%); }
  .link-cards a {
    display: block;
    background-color: #ffffff;
    color: #1a1a1a;
    padding: 2em 2em;
    text-decoration: none; }
    .link-cards a > * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block; }
    .link-cards a .heading {
      font-size: 1.3em;
      margin: 0 0 1.2em 0;
      color: #6f36bd; }
    .link-cards a .title {
      font-size: 1.9em;
      font-weight: 700;
      margin-bottom: 0.4em; }
    .link-cards a .address {
      font-size: 1.4em; }
    .link-cards a .date {
      font-size: 1.4em; }
  .link-cards + .text-center .btn {
    font-size: 1.3em;
    margin-top: 1.7em; }

.logo-box {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0 1em; }
  .logo-box .icon {
    width: auto; }
    .logo-box .icon:nth-child(1) {
      height: 5.4em; }
    .logo-box .icon:nth-child(2) {
      height: 2em;
      margin: 0 2em; }
    .logo-box .icon:nth-child(3) {
      height: 4.4em; }

.slider-box .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (min-width: 900px) {
    .slider-box .slide {
      flex-direction: row; } }
  .slider-box .slide .slide-content {
    padding: 24px; }

.tns-nav {
  display: flex;
  align-items: center;
  justify-content: center; }
  .tns-nav button {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    margin: 2px;
    display: block;
    font-size: 1px;
    padding: 0;
    background: #6f36bd; }
    .tns-nav button:hover, .tns-nav button.tns-nav-active {
      background: #ffd200; }

footer {
  font-weight: 300;
  font-size: 1.1em; }
  @media (max-width: 480px) {
    footer .btn {
      min-width: auto; } }
  footer .row {
    color: #ffffff;
    background-color: #262626;
    padding: 10px 0; }
    @media (min-width: 900px) and (max-width: 1200px) {
      footer .row:first-child .container {
        justify-content: center; } }
    footer .row .container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    footer .row .left-box {
      text-align: center; }
      @media (min-width: 900px) {
        footer .row .left-box {
          text-align: left; } }
    footer .row .right-box {
      text-align: center; }
      @media (min-width: 900px) {
        footer .row .right-box {
          text-align: right; } }
      footer .row .right-box > * {
        vertical-align: middle; }
    footer .row .logo-box {
      font-size: 0.5em;
      color: #ffd200 !important;
      margin: 0;
      display: none; }
      @media (min-width: 900px) {
        footer .row .logo-box {
          display: flex; } }
    footer .row .email {
      display: inline-block;
      margin-right: 2em;
      padding: 1em; }
    footer .row p {
      margin: 0; }
    footer .row a {
      color: #ffffff;
      text-decoration: none; }
      footer .row a:hover {
        color: #ffd200; }
    footer .row .mobile-logo {
      display: block;
      color: #ffd200 !important; }
      @media (min-width: 900px) {
        footer .row .mobile-logo {
          display: none; } }
      footer .row .mobile-logo .icon {
        width: 50px;
        height: 50px; }
    footer .row nav {
      display: none; }
      @media (min-width: 1200px) {
        footer .row nav {
          display: block; } }
      footer .row nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center; }
        footer .row nav ul li {
          display: inline-block;
          margin-right: 2em; }
          footer .row nav ul li .btn svg {
            height: 1.8em; }
    footer .row + .row {
      padding: 15px 0;
      color: #666666;
      background-color: #1a1a1a; }
      footer .row + .row a {
        color: inherit; }
        footer .row + .row a:hover {
          color: #ffd200; }
      @media (min-width: 900px) {
        footer .row + .row .left-box {
          max-width: 33%; } }
      footer .row + .row .right-box {
        width: 100%;
        border-bottom: 1px solid #262626;
        padding-bottom: 1em;
        margin-bottom: 1em; }
        @media (min-width: 900px) {
          footer .row + .row .right-box {
            border: none;
            padding: 0;
            margin: 0;
            width: 33%; } }
      footer .row + .row .container {
        flex-direction: column-reverse; }
        @media (min-width: 900px) {
          footer .row + .row .container {
            flex-direction: row; } }
